 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');
		.wd{
			width: 100vw;
			height: 100vh;
			position:relative;
			scroll-behavior: smooth;
			scroll-snap-align: start;
			scroll-snap-stop: always;
			overflow: hidden;
		}
		.mainbody{
			scroll-behavior: smooth;
			position: absolute;
			background-attachment: fixed;
			background-image: url("https://raw.githubusercontent.com/ashu2305/ashu2305.github.io/master/public/background.png");
			padding: 0;
			background-size: cover;
            background-repeat: no-repeat;
			scroll-snap-type: y mandatory;
			scroll-snap-points-y: repeat(5vh);
			margin: 0;
            overflow-x: hidden;
            
		}
        .main{
            overflow-y: hidden;
            height: 100vh;
        }
		.text{
			color: white;
		}
		.chakra{
			margin-left: 50vw; 
			margin-top: 2vw;
			position: relative;
			width: 50vw;
			height: 50vw;
		}
		.o1{
			z-index: 250;
			position: absolute;
			width: 45vw;
			height: 45vw;
		}
		.o2{
			position: absolute;
			width: 30vw;
			height: 30vw;
			z-index: 200;
			margin-top: 7.4vw;
			margin-left: 7.5vw;
			animation-name: rotateo1;
            animation-duration: 30s;
            
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		.o3{
			position: absolute;
			width: 45vw;
			z-index: 50;
			height: 45vw;
			animation-name: rotateo1;
            animation-duration: 45s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
		.o4{
			position: absolute;
			width: 45vw;
			animation-name: rotateo1;
            animation-duration: 100s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			z-index: 10;
			height: 45vw;
		}
		.title{
			position:absolute;
			margin-top: 17vw;
			width: 35vw;
			margin-left: 4.6vw;
			z-index: 260;
		}
		.title-text{
			animation-name: neon1;
			animation-iteration-count: infinite;
			color: #bc13fe;
			animation-duration: 1.5s;
			font-family: cursive;
			font-size: 4vw;
		}
		.coming{
			position: absolute;
			margin-left: 5vw;
			margin-top:17vh;
			color: #ffffff;
			margin-bottom:1vw; 
		}
        @font-face{
				  font-family: 'Modulus';
				  src: url("Modulus.ttf?v=2.0.0") format("truetype") ;
			}
		@font-face{
				  font-family: 'Existence-Light';
				  src: url("Existence-Light.otf?v=2.0.0") format("opentype") ;
			}
		.comingsoon{
			position: relative;
			font-family: 'Existence-Light';
			letter-spacing: 8px;
			font-weight: 200;
			color: white;
			font-size: 5vw;
			z-index: 100;
			margin-left: 1vw;
		}
			.days{
				color: white;
				font-size: 4vw;
				z-index: 100;
			}
		@keyframes rotateo1{
			0%{
				transform: rotateZ(0deg);
			}
			100%{
				transform:rotateZ(360deg);
			}
		}
		@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
  @keyframes neon2{
  from {
    color: #ffffff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
.content{
	position: absolute;
	width: 40vw;
}
.conflu-content{
	font-size:1.5vw;
	text-align: justify;
	font-family: 'Modulus';
	color:#D3D1D1;
}
.timer{
	position: absolute;
	width: 30vw;
	height: 7vw;
	margin-top: 30vh;
	padding: 0;
	margin-left: 5vw;
	border-radius: 8vw;
	text-align: center;
	background: rgb(190,41,130);
	background: linear-gradient(360deg, rgba(190,41,130,1) 0%, rgba(71,26,108,1) 100%);
}
#days{
	margin:0.5vw;
	position: relative;
	margin-top: 1.5vw;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color: white;
	font-size: 3vw;
}
.hrline{
	width: 40vw;
	height: 0.3vh;
	margin-top: -2vw;
	background: rgb(190,41,130);
background: radial-gradient(circle, rgba(190,41,130,1) 0%, rgba(71,26,108,1) 100%);
border:none;
}     
        .t-hrline{
                display: none;
           
            }
            .t-content{
                display: none;
            }
        
        
.vid{
    margin-left: 20vw;
    margin-top: 2vw;
        }
                        .vid iframe{
                                  width: 60vw;
                                  height: 30vw;
                        }
        .teaser-text{
            text-align: center;
            color: #fff;
            margin: 0vw;
            font-family:'Existence-Light' ;
            font-size: 7vw;
            letter-spacing: 4px;
            font-weight: 100;
        }
        
 ul{
                margin: 0;
                padding: 0;
                
     
              width: 100vw;
                display: flex;
     justify-content: center;
     margin-top: 5vh;
    padding-bottom: 5vw;
               
                
                
            }
        .icons{
    align-content: center;
        }
        ul li
            {
                             
                list-style-type: none;
            }
            ul li a{
                position: relative;
                width: 50px; 
                height: 50px;
            
                display: block;
                text-align: center;
                margin: 0 8.3px;
                border-radius: 50%;
                padding: 4.13px;
                box-sizing: border-box;
                text-decoration: none;
                box-shadow: 0 8.3px 12.5px rgba(0,0,0,0.3);
                background: linear-gradient(0deg, #ddd, #fff);
                transition: 0.5s;
            }
            ul li a:hover{
                box-shadow: 0 1.6px 4.1px rgba(0,0,0,0.3);
                
            }
            ul li a .fa{
                width: 100%;
                height: 100%;
                display: block;
                background: linear-gradient(0deg, #fff, #ddd);;
                border-radius: 50%;
                line-height: calc(50px - 6.67px);
                font-size: 21.4px;
                color: #262626;
                transition: 0.5s;
                
            }
            ul li:nth-child(1) a:hover .fa{
                color: #3b5998;
            }
            ul li:nth-child(2) a:hover .fa{
                color: #00aced;
            }
            ul li:nth-child(3) a:hover .fa{
                color: #bc2a8d;
            }
            ul li:nth-child(4) a:hover .fa{
                color: #dd4b39;
            }
           
        
        
        @media only screen and (max-width: 500px){
            .mainbody{
                scroll-snap-type: none;
                background-size: auto;
            }
            .main{
                height: 110vh;
            }
            .teaser{
                height: auto;
            }
            .chakra{
			margin-left: 10vw; 
                margin-top: 13vw;
				width: 80vw;
			height: 80vw;
		}
            .o1{
			     width: 80vw;
			     height: 80vw;
		}
		.o2{
			width: 53.33vw;
			height: 53.33vw;
			margin-top: 13.16vw;
			margin-left: 13.33vw;
            margin-right: 13.33vw;
			
		}
		.o3{
			width: 80vw;
			height: 80vw;
		}
		.o4{
			
			width: 80vw;
			height: 80vw;
		}
            .title{
			margin-top: 29.3vw;
			width: 35vw;
			margin-left: 5vw;
                width: 70vw;
                height: auto;
		}
            .comingsoon{
                font-size: 8vw;
                text-align: center;
                margin-left: 0vw;
                margin-top: -9vh;
            }
            .coming{
			margin-left: 12vw;
			margin-top:112vw;
			margin-bottom:1vw; 
		}
            .timer{
                width: 60vw;
                height: 7vh;
                margin-top: 25vh;
                margin-left: 7vw;
                padding: 0;
}
            #days{
	margin-top:2vw;
	position: relative;
	
	font-size: 6vw;
}
            .hrline{
                width: 72vw;
            }
            .content{
                width: 72vw;
                margin-left: 1vw;
            }
            .conflu-content{
                font-size: 3vw;
            }
           
              .t-hrline{
               
                   display: none;
            }
            .t-content{
               
                 display: none;
            }
             .t-content .conflu-content{
                 font-size: 3.3vw;
             } 
            .teaser{
                position: relative;
                top: -16vw;
            }
            .vid{
   margin-left: 0vw;
    margin-top: 6vw;
        }
            .vid iframe{
                                  width: 100vw;
                                  height: 55vw;
                        } 
            
        }
         @media only screen and (max-width: 700px) and (min-width:501px){
            .chakra{
			margin-left: 12.6vw; 
                margin-top: 8vw;
				width: 80vw;
			height: 80vw;
		}
            .o1{
			     width: 70vw;
			     height: 70vw;
		}
		.o2{
			width: 46.67vw;
			height: 46.67vw;
			margin-top: 11.51vw;
			margin-left: 11.66vw;
			
		}
		.o3{
			width: 70vw;
			height: 70vw;
		}
		.o4{
			
			width: 70vw;
			height: 70vw;
		}
            .title{
			margin-top: 24.78vw;
			width: 35vw;
			margin-left: 0vw;
                width: 70vw;
                height: auto;
		}
            .comingsoon{
                font-size: 7vw;
                text-align: center;
                margin-left: 3vw;
                margin-top: -1vw;
            }
            .coming{
			margin-left: 15vw;
			margin-top:70vh;
			margin-bottom:1vw; 
		}
            .timer{
                width: 52.5vw;
                height: 7vh;
                margin-top: 0vh;
                padding: 0;
}
            #days{
	margin:0.5vw;
	position: relative;
	
	font-size: 6vw;
}
            .hrline{
                display: none;
            } 
            .content{
                display: none;
            }
              .t-hrline{
                margin-top: 4vh;
                width: 60%;
                  display: block;
            }
            .t-content{
                width: 60%;
                margin-left: 20vw;
                display: block;
                
            }
             .t-content .conflu-content{
                 font-size: 2vw;
             } 
              .vid{
   margin-left: 10vw;
    margin-top: 6vw;
        }
            .vid iframe{
                                  width: 80vw;
                                  height: 45vw;
                        }
        }
        @media only screen and (max-width: 850px) and (min-width:701px){
            .chakra{
			margin-left: 12.9vw; 
                margin-top: 2vw;
				width: 80vw;
			height: 80vw;
		}
            .o1{
			     width: 70vw;
			     height: 70vw;
		}
		.o2{
			width: 46.67vw;
			height: 46.67vw;
			margin-top: 11.51vw;
			margin-left: 11.66vw;
			
		}
		.o3{
			width: 70vw;
			height: 70vw;
		}
		.o4{
			
			width: 70vw;
			height: 70vw;
		}
            .title{
			margin-top: 24.78vw;
			width: 35vw;
			margin-left: 0vw;
                width: 70vw;
                height: auto;
		}
            .comingsoon{
                font-size: 5.5vw;
                text-align: center;
            }
            .coming{
			margin-left: 3vw;
			margin-top:82vh;
			margin-bottom:1vw; 
		}
            .timer{
                width: 40vw;
                height: 7vh;
                margin-top: -12.7vh;
                margin-left: 50vw;
                padding: 0;
}
            #days{
	margin-top:1vw;
	position: relative;
	
	font-size: 4vw;
}
            .hrline{
                display: none;
            } 
            .content{
                display: none;
            }
            .t-hrline{
                margin-top: 4vh;
                width: 50%;
                 display: block;
            }
            .t-content{
                width: 50%;
                margin-left: 25vw;
                 display: block;
            }
             .vid{
   margin-left: 15vw;
    margin-top: 6vw;
        }
            .vid iframe{
                                  width: 70vw;
                                  height: 38vw;
                        }
        }
        @media only screen and (max-width: 1000px) and (min-width:851px){
            .coming{
			margin-left: 5vw;
			margin-top:17vh;
			margin-bottom:1vw; 
		}
            .chakra{
			margin-left: 50vw; 
                margin-top: 14vh;
				width: 50vw;
			height: 50vw;
		}
            .title{
			margin-top: 16vw;
			width: 35vw;
			margin-left: 0vw;
                width: 45vw;
                height: auto;
		}
            .t-hrline{
                display: none;
            }
            .t-content{
                display: none;
            }
        }
        @media only screen and (max-width: 1200px) and (min-width:1001px){
            .coming{
			margin-left: 5vw;
			margin-top:13vh;
			margin-bottom:1vw; 
		}
            .chakra{
			margin-left: 50vw; 
                margin-top: 14vh;
				width: 50vw;
			height: 50vw;
		}
            .title{
			margin-top: 16vw;
			width: 35vw;
			margin-left: 0vw;
                width: 45vw;
                height: auto;
		}
            .t-hrline{
                display: none;
            }
            .t-content{
                display: none;
            }
        }
        @media only screen and (max-width: 1300px) and (min-width:1201px){
            .coming{
			margin-left: 5vw;
			margin-top:13vh;
			margin-bottom:1vw; 
		}
            .chakra{
			margin-left: 50vw; 
                margin-top: 8vh;
				width: 50vw;
			height: 50vw;
		}
            .title{
			margin-top: 16vw;
			width: 35vw;
			margin-left: 0vw;
                width: 45vw;
                height: auto;
		}
            .t-hrline{
                display: none;
            }
            .t-content{
                display: none;
            }
        }